@charset 'UTF-8';
/*typical device 
- pequenas telas: ate 600px
- celular: 600px ate 768px
- tablet: 768px ate 992px
- desktop: 992px ate 1200px
- grandes telas: acima de 1200px*/


/*notebooks*/
@media screen and (min-width: 992px){
    body{
        background-image: url('');
        position: relative;
        background-color: #cdcdcd;
    }
    main{
        margin: 0px;
        padding: 0px;
        width: 80vw;
        height: 80vh;
        border-radius: 40px;
    }
    div#informacoes{
        margin: auto;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);
        width: 40vw;
        height: 80vh;
        background-image: url('../imagens/fundo-back.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        border-radius: 40px 0px 0px 40px;
    }
    div#informacoes>p{
        margin: 20px;
    }
    form{
        margin: 0px;
        padding: 0px;
    }
    div#formulario{
        margin: 0px;
        padding: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        width: 40vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 0px 40px 40px 0px;
    }
    input#idtexto{
        width: 30vw;
        background-color: #F28276;
        box-shadow: inset 1px 1px 5px 5px #00000010;
    }
    input#idpassword{
        width: 30vw;
        background-color: #F28276;
        box-shadow: inset 1px 1px 5px 5px #00000010;
    }
    span.material-symbols-outlined{
        color: black;
    }
    input#entrar{
        width: 20vw;
        background-color: #377A85;
        color: white;
        box-shadow: inset 1px 1px 5px 5px #00000010;
    }
    input#entrar:hover{
        background-color: #224B51;
    }
    input#botao{
        width: 20vw;
        background-color: #377A85;
        color: white;
        box-shadow: inset 1px 1px 5px 5px #00000010;
    }
    input#botao:hover{
        background-color: #224B51;
    }
}

/*grandes telas*/
@media screen and (min-width: 1200px){
    
}
